.ListsItem {
    background: linear-gradient(to bottom, #252525, #222);
    border-radius: 2px;
    border: 2px solid #444;
    box-shadow: 0em 0.3em 1em black;

    padding: 1rem;

    display: grid;
    grid-template-areas: 
        'name'
        'from'
        'to'
        'since';

    transition: background 200ms linear, box-shadow 100ms ease-in;

    &:hover {
        background: linear-gradient(to bottom right, #272727, #222);
        border-color: #484848;
        box-shadow: 0 0.3em 1.5em black;
    }
}

.ListsItem__name {
    grid-area: name;

    font-size: 1.3rem;
    font-weight: 600;
}

.ListsItem__name--link {
    display: inline-block;
    color: deepskyblue;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    transition: all ease 100ms;

    &:hover {
        transform: translateY(-2px);
        color: slateblue;
    }

    &:active {
        border-bottom: 1px solid slateblue;
    }
}

.ListsItem__from, .ListsItem__to, .ListsItem__since {
    font-size: 0.8rem;
}

.ListsItem__from {
    grid-area: from;
}

.ListsItem__to {
    grid-area: to;
}

.ListsItem__since {
    display: flex;
    grid-area: since;
    color: #777;
    justify-content: flex-end;

}