.ListsItem {
    background-color: #202020;
    border-radius: 2px;
    border: 2px solid #444;
    box-shadow: 0em 0.3rem 1rem black;

    padding: 1rem;

    display: grid;
    grid-template-areas: 
        'name'
        'count'
        'from'
        'to'
        'since';

    transition: background 200ms linear, box-shadow 100ms ease-in;
}

.ListsItem__name {
    grid-area: name;

    font-size: 1.3rem;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 0.3rem;
    margin-bottom: 0.3rem;
}

.ListsItem__name--link {
    display: inline-block;
    color: deepskyblue;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    transition: all ease 100ms;
}
.ListsItem__name--link:hover {
    transform: translateY(-2px);
    color: slateblue;
}

.ListsItem__name--link:active {
    border-bottom: 1px solid slateblue;
}

.ListsItem__from, .ListsItem__to, .ListsItem__numTerms, .ListsItem__since {
    font-size: 0.8rem;
}

.ListsItem__numTerms {
    grid-area: count;
    font-size: 0.9rem;
}

.ListsItem__from {
    grid-area: from;
}

.ListsItem__to {
    grid-area: to;
}

.ListsItem__since {
    display: flex;
    grid-area: since;
    color: #777;
    justify-content: flex-end;

}