@use "../_style/shared";

.Login {
	$maxwidth: 800px;
	$showpasswidth: 2.5rem;
	$inputwidth: 13rem;

	&__button,
	&__register {
		@extend %shared-button;
	}

	&__register {
		display: flex;
		margin-left: auto;
		width: max-content;
		background-color: #ccc;
		color: black;
		text-decoration: none;
		align-items: center;
		height: 2rem;

		transition: all 80ms linear;

		&:hover {
			background-color: #444;
			color: white;
		}
	}
}
