.Lists__wrapper { 
    width: 80%;
    margin: 0 auto;

}

.Lists {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 1.4rem 1rem;
    margin: 1rem;
}

.Lists__header {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem;
}

#Lists__filter {
    display: inline-block;
    margin: 0.3rem 0 0 1rem;
    width: 20rem;
    padding: 1rem;
    background-color: rgb(36, 36, 36);
    color: white;
    border-radius: 3px;
    outline: 1px solid #444;
    box-shadow: 5px 5px 0.5em -2px black;

    transition: all 100ms linear;

    &::placeholder {
        color: #aaa;
    }

    &:focus {
        outline: 1px solid deepskyblue;
        box-shadow: 5px 5px 1.5em -2px black;
    }
}

#Lists__filter--label {
    display: block;
    margin-left: 1rem;
}