# frontend
/frontend/node_modules
/frontend/src/components/Test.js
/frontend/src/components/css/Test.css

# backend
/backend/node_modules
/backend/dev

*.env
node_modules

MAP.md
TODO.md
