# frontend
/frontend/node_modules
/frontend/src/components/Test.js
/frontend/src/components/css/Test.css

# backend
/backend/node_modules
/backend/dev
/backend/routers/.rest

*.env
*.rest
node_modules

MAP.md
TODO.md
