$maincolor: deepskyblue;

.Header {
    box-shadow: 0 3px 0 -2px #333;
    position: sticky;
    top: 0;
    left: 0;
    padding: 1rem;

    background-color: #111;
    z-index: 10;
    height: max-content;
    width: 100%;
    font-size: 1.3rem;

    nav {
        width: 100%;
        min-width: max-content;
    }

    #Logo {
        align-self: center;
    }

    &__logout {
        float: right;
        margin-left: 1rem;
        background-color: #111;
        border: none;
        color: white;
        padding: 0.5rem 1rem;
        border: 2px solid transparent;
        outline: none;
        transition: all 80ms linear;

        &:not(:hover) {
            border: 2px solid #333;
        }

        &:hover {
            background-color: #333;
            box-shadow: 0 0 0.5rem black;
        }
    }
}

.NavLink {
    position: relative;
    margin-left: 1rem;
    font-size: 1.1rem;
    color: azure;
    text-decoration: none;
    width: max-content;
    align-self: center;
    padding: 0.2rem 0.5rem;
    box-shadow: 0 2px 0 0 $maincolor;

    background-image: linear-gradient($maincolor, $maincolor);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 0% 0%;

    transition: all 80ms ease-in;

    z-index: 3;

    &:hover {
        color: white;
        background-size: 100% 20%;
        transition: all 100ms ease-out;
    }

    &__active {
        // double selector for specificity
        $highlight-color: deepskyblue;
        $hover-color: white;

        background-color: $highlight-color;
        color: black;
        border-bottom: 2px solid $highlight-color;
        box-shadow: 0 0.7rem 0 0 $highlight-color;

        &:hover {
            background-size: 0 0;
            color: black;
            background-color: $hover-color;
            border-color: $hover-color;
            box-shadow: 0 0.7rem 0 0 $hover-color;
        }
    }
}

@keyframes fill {
    100% {
        width: 100%;
        height: 90%;
    }
}

@keyframes fillupwards {
    100% {
        height: 90%;
    }
}

@keyframes fillsideways {
    100% {
        width: 100%;
    }
}
