.Login {
    $maxwidth: 800px;
    $showpasswidth: 2.5rem;
    $inputwidth: 13rem;

    &__header, &__message, &__error {
        padding: 1rem;
        border-radius: 3px;
        box-shadow: 0 0 1rem black;
        max-width: $maxwidth;
        margin: 0 auto;
    }
    
    &__header {
        background-color: deepskyblue;
        color: black;
        margin-bottom: 1rem;
    }

    &__message {
        background-color: goldenrod;
        color: black;
        margin-bottom: 1rem;
    }

    &__error {
        background-color: crimson;
        color: azure;
    }

    &__form {
        // display: flex;
        max-width: $maxwidth;
        margin: 0 auto;
        margin-top: 1rem;
        padding: 1rem;
        box-shadow: 0 0 1rem black;
        border-radius: 5px;
        border: 2px solid #444;

        &--field {
            max-width: 100%;
            overflow: hidden;

            &--content {
                display: flex;
                align-items: center;
            }
        }

    }

    &__showPassword {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 2px solid transparent;
        outline: none;
        padding: 0.3em 0.5rem;

        background-color: deepskyblue;
        border-radius: 0 3px 3px 0;

        width: $showpasswidth;
        transition: all 100ms ease;

    }

    &__button, &__register {
        display: block;
        margin: 0.8rem 0;
        outline: none;
        border: none;
        border-radius: 3px;
        background-color: deepskyblue;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;

        transition: all 80ms linear;

        &:not(:active):hover {
            background-color: #333333;
            color: white;
            transform: translateY(-2px);
            box-shadow: 0 5px 0 -4px deepskyblue, 0 0 0.5rem black;
        }
        &:hover {
            box-shadow: 0 3px 0 -1px black;
        }

        &:active {
            background-color: #444;
            color: azure;
        }
    }

    &__input {
        &--username, &--password {
            background-color: #444;
            border: 2px solid transparent;
            // border-radius: 2px;
            outline: none;
            color: azure;
            padding: 0.3rem 0.5rem;
    
            transition: all 100ms ease;
    
            &:focus {
                border-color: deepskyblue;
            }
        }

        &--username {
            width: $inputwidth;
        }

        &--password {
            width: $inputwidth - $showpasswidth;
        }

        &--label {
            font-size: 0.9rem;
            margin-bottom: 0.4rem;
            margin-top: 0.6rem;
        }
        
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
    }
    &__register {
        display: flex;
        margin-left: auto;
        width: max-content;
        // border: 2px solid transparent;
        // border-radius: 2px;
        // font-size: 0.9rem;
        // padding: 0.3rem 0.8rem;
        background-color: #ccc;
        color: black;
        text-decoration: none;
        align-items: center;
        height: 2rem;

        transition: all 80ms linear;

        &:hover {
            background-color: #444;
            color: white;
            // color: black;
        }
    }
}