@import './NewSet.scss';

.Picker {
    // margin-top: 2rem;
    width: max-content;

    &__elements {
        position: absolute;
        top: 0;
        height: max-content;
        max-height: 15rem;
        overflow-y: scroll;
        overflow-x: hidden;
        border-top: 2px solid deepskyblue;
        box-shadow: 0 0 1rem black;

        &--wrapper {
            position: relative;
            border-radius: 3px;
            box-shadow: 0 0 1rem black;
        }

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax($input-width, min-content));
        width: $input-width;

        &::-webkit-scrollbar {
            background-color: #151515;
            width: 10px;

            &-thumb {
                background-color:#555;
                border-radius: 2px;
            }
        }
    }

    &__filter {
        @extend %set-input;
        
        &:focus {
            box-shadow: none;
        }
    }

    &__chosen {
        margin-top: 2rem;
    }
}

.PickerElement {
    display: inline-grid;
    align-items: center;
    align-self: center;
    width: $input-width;
    background-color: #222;
    color: azure;
    height: max-content;
    height: 100%;
    padding: 0.2rem 0.3rem;
    padding-left: 2rem;
    margin: 0;
    font-size: 0.9rem;
    user-select: none;

    transition: all 100ms ease;

    &:hover {
        background-color: #333;
        padding-left: 1rem;
        align-self: center;
        transform: translateX(2px);
        box-shadow: 0rem 0 0.5rem black;
    }
}