@use '../../style/shared' as s;

.Sets {
    &__link {
        @extend %shared-button;
        width: max-content;
        color: black;
        text-decoration: none;
    }

    &__sets {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, max-content));
        gap: 0.8rem;
        justify-content: center;
    }
}

.Banner {
    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}