.Header {
    position: sticky;
    top: 0;
    left: 0;
    padding: 1rem;
    
    background-color: #111;
    /* margin-bottom: 1em; */
    z-index: 1000;
    height: 3rem;
    width: 100%;
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.NavLink {
    margin-left: 1rem;
    font-size: 1.1rem;
}

.NavLink:visited {
    color: deepskyblue;
}

