.LanguageInput__wrapper {
    max-width: 800px;
    width: 80%;
    padding: 1em;
    border-left: 2px solid deepskyblue;
    border-radius: 2px;
}

.LanguageInput__header  {
    color: deepskyblue;
    margin: 0;
    font-weight: 600;

}

.LanguageInput {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.LanguageInput__side {
    margin-left: 1rem;
    display: grid;
    grid-template-rows: repeat(2,1fr);
}

.LanguageInput input {
    border: 1px solid #444;
    max-width: 95%;
    background-color: #333;
}

.LanguageInput label {
    color: deepskyblue;
    font-size: 0.8em;
    display: flex;
    align-items: center;
}