:root {
    --duration: 250ms;
}

.Review {
    max-width: 800px;

    &__prevent {
        margin-top: 1rem;
        height: 30px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: #555;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--owner, &--name {
            color: deepskyblue;
            margin: 0 0.3em;
        }
    }

    &__post {
        border-left: 2px solid greenyellow;
        padding-left: 1em;
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
    }

    &__button {
        outline: none;
        margin: none;
        border: none;
        color: azure;
        box-shadow: 0 0 0.5em black;
        margin-top: 1rem;
        background-color: #333;

        width: 120px;
        height: 30px;
        font-family: 'Roboto';

        transition: all 80ms ease-in;

        &:hover {
            padding: 0;   /* padding is non-zero by default which causes 'shifting' effect of text */
            transform: translateY(-1px) scale(1.03);
            transform-style: preserve-3d;
            transform: center;
            box-shadow: 0 5px 1em -6px #333;
        }

        &--fail {
            &:hover, &:focus {
                background-color: orangered;
            }
        }

        &--pass {
            &:hover, &:focus {
                background-color: seagreen;
            }
        }
    }

    &__progress {
        &--bar {
            background-color: deepskyblue;   
            height: inherit;     
            transition: width 300ms linear;
        }

        &--wrapper {
            width: 100%;
            position: absolute;
            top: 4.2rem;  /* should match Header component's height */
            left: 0;
            height: 4px;
            background-color: #555;
        }
    }

}