:root {
    --duration: 250ms;
}

.Review {
    padding: 1em;
}

.Review__title {
    font-weight: 600;
    font-size: 1.6rem;
    padding-bottom: 0.2em;
    margin-bottom: 1rem;
    border-bottom: 1px solid #333;
}

.Review__post {
    border-left: 2px solid greenyellow;
    padding-left: 1em;
}

.Review__title--owner, .Review__title--name {
    color: deepskyblue;
    margin: 0 0.3em;
}

.Review__current, .Review__buttons {
    display: flex;
    width: 50%;
}

.Review__current {
    /* color: darkslategrey; */
    line-height: 1.5rem;
    padding: 3rem;
    box-shadow: 0 0 1em black;
    justify-content: center;
    border-radius: 5px;
    perspective: 700px;
    font-weight: 200;
}

.ReviewCard {
    background: linear-gradient(-30deg, #eee, #ddd);
    color: darkslategrey;
    font-size: 1.6rem;    
    display: flex;
    
}

.fadein {
    animation: var(--duration) ease 1 fadein;
    animation-fill-mode: forwards;
}

/* @todo rotation needs to be on a shadow element, because I don't want text content to be rotated (text becomes blurry, haven't found a fix) */
/* note also that quickly hovering and unhovering causes the whole perspective to bug out */
.flip { 
    transform: perspective(500px);
    transform-style: preserve-3d;
    transform-origin: 50% 50%; 
    animation: 250ms linear flip;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes flip {
    0% { opacity: 1 }
    50% { transform: rotateX(90deg) }
    100% { transform: rotateX(0deg); }
}

.Review__buttons {
    justify-content: space-around;
}

.Review-button {
    outline: none;
    margin: none;
    border: none;
    color: azure;
    box-shadow: 0 0 0.5em black;
    margin-top: 1rem;
    width: 120px;
    height: 30px;
    font-family: 'Roboto';

    transition: all 80ms ease-in
}

.Review-button:hover {
    padding: 0;   /* padding is non-zero by default which causes 'shifting' effect of text */
    transform: translateY(-1px) scale(1.03);
    transform-style: preserve-3d;
    transform: center;
    box-shadow: 0 5px 1em -6px #333;

}

.Review-button.fail, .Review-button.pass {
    background-color: #333;
}

.fail:hover, .fail:focus {
    background-color: orangered;
}

.pass:hover, .pass:focus {
    background-color: seagreen;
}

.Review-progress__wrapper {
    width: 100vw;
    position: absolute;
    top: 3rem;
    left: 0;
    height: 4px;
    background-color: #555;
}

#Review-progress__bar {
    background-color: deepskyblue;   
    height: inherit;     
    transition: width 300ms linear;
}