.SaturationFilter {
    $picker-width: 17rem;
    width: max-content;
    box-shadow: 0 0 0.3rem black;

    transition: all 100ms linear;
    border-radius: 7px;
    background-color: #111;

    &:hover {
        background-color: #222;
    }

    &__reset {
        margin-left: 1rem;
    }

    &__reset, &__direction--button {
        user-select: none;
        display: flex;
        align-items: center;
        height: 60%;
        padding: 0 0.3rem;
        border: none;
        outline: none;
        color: white;

        border-radius: 5px;
        background-color: #333;
        transition: all 100ms ease-in;

        &:hover {
            background-color: #444;
        }
    }

    &__filter {
        position: relative;
        border-radius: 5px;
    }

    &__icons, &__label, &__direction {
        height: 3rem;
        align-items: center;
        width: $picker-width;
        padding: 0rem 0.6rem;
        display: flex;
        justify-content: center;
        border-radius: 5px;
    }
    
    &__icon {
        &--wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-self: center;
            height: 100%;
            width: 40px;
            border-radius: 10px;

            transition: all 70ms ease;

            &:hover {
                background-color: #333;
            }
        }
        
        display: flex;
        transition: all 50ms ease-in;

        box-shadow: 0 0 4px black !important;
        
        &:hover {
            transform: scale(1.04);
            box-shadow: 0 0 0.2rem black !important;
        }
    }

    &__direction {
        justify-content: space-evenly;
        height: 100%;
        align-items: center;

        &--button {
            justify-content: space-between;
            align-items: center;
            gap: 0.5rem;
            align-items: center;
            
        }
    }

    &__filter {
        height: 3rem;
        width: 17rem;
        align-items: center;
    }

    &__label {
        background-color: inherit;
        display: flex;
        align-items: center;
        justify-self: center;
        justify-content: center;
        width: $picker-width;
        border-radius: 5px;

        border: none;
        outline: none;
        color: white;
        transition: all 100ms ease;

        &:hover {
            background-color: #222;
        }
    }

    
}