.List {
    &__header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        
    }
    
    &__banner {
        display: flex;
        justify-content: space-between;
    }

    &__info, &__section, &__sets, &__terms, &__content {
        margin-top: 1rem;
        padding: 1rem;
        border: 2px solid #222;
        border-radius: 4px;
        box-shadow: 0 0 0.5rem #000;

        @media screen and (max-width: 768px), screen and (max-height: 700px) {
            margin-top: 0.5rem;
            border-radius: 2px;
            padding: 0.5rem;
        }
    }

    &__section {
        &--heading {
            display: flex;
            justify-content: space-between;
            
        }
        
        &--header {
            @media screen and (max-width: 768px), screen and (max-height: 700px) {
                font-size: 1.3rem;
                font-weight: 500;
            }
            
            font-size: 1.5rem;
            font-weight: 600;
            width: max-content;
            margin-bottom: 0.5rem;
            background-color: #333;
            padding: 0 0.5rem;
            
        }
    }

    

    &__info {
        &--item {
            font-size: 0.9rem;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
        }

        &--datum {
            color: deepskyblue;
            white-space: nowrap;
            word-break: keep-all;
            font-weight: 600;
            margin: 0 5px;
            background-color: #222;
            padding: 0 2px;
        }
    }

    &__content {
        display: flex;

        @media screen and (max-width: 1280px) {
            justify-content: start;
            box-shadow: none;
            border: none;
            margin-top: 0;
            padding: 0;
        }
    }

    &__terms {
        padding-left: 1rem;
        padding-right: 1rem;
        &--header {
            max-width: 1200px;
            display: flex;
            justify-content: space-between;
            height: 4rem;
            align-items: center;

            @media screen and (max-width: 1280px) {
                width: 100%;
                max-width: none;
            }
        }

        @media screen and (max-width: 1280px) {
            width: 100%;
            max-width: none;
        }

        @media screen and (min-width: 768px) {
            min-width: 700px;
        }
    }
}