.ListDeleteButton {
    display: flex;
    align-items: center;
    color: white;
    background-color: #333;
    border: none;
    outline: none;
    transition: all 50ms ease;
    border-radius: 5px;

    &:hover {
        box-shadow: 0 0 0.5rem black;
        
    }

    &__label {
        display: inline;
        width: max-content;
        background-color: #222;
        padding: 0 0.4rem;
        height: 100%;
    }

    &__button {
        &--initial, &--confirm {
            padding: 0.5rem 1rem;
            background-color: #333;
            color: azure;
            border: none;
            outline: none;

        }

        &--initial {
            &:hover {
                background-color: orangered;
            }
        }

        &--confirm {
            border-radius: 3px;
            &--yes {
                &:hover {
                    background-color: orangered;
                }
            }
            &--no {
                &:hover {
                    background-color: #555;
                }
            }
        }
    }
}