.SaturationFilter {
    $picker-width: 17rem;
    width: max-content;
    box-shadow: 0 0 0.3rem black;

    transition: all 100ms linear;
    
    &__reset {
        user-select: none;
        display: flex;
        align-items: center;
        height: 60%;
        padding: 0 0.5rem;

        border-radius: 5px;
        margin-left: 1rem;
        background-color: #333;
        transition: all 100ms ease-in;

        &:hover {
            background-color: #444;
        }
    }

    &__filter {
        position: relative;
    }

    &__options {
        background-color: #222;
        width: 100%;
        position: absolute;

        &--label {
            padding-left: 0.5rem;
        }
        &--block {
            display: flex;
            justify-content: space-between;
            height: max-content;
            align-items: center;
            height: 5rem;
            padding-bottom: 2rem;
        }

        &--select {
            display: inline-flex;
            background-color: #333;
            border: none;
            outline: none;
            padding: 0.5rem;
            color: white;
        }

        &--option {
            padding: 1rem;
            color: white;
            background-color: #333;
                &:hover, &:focus {
                background-color: #fff;
            }
        }
    }

    &__icons, &__label {
        height: 3rem;
        align-items: center;
    }

    &__icons {
        width: $picker-width;
        padding: 0.2rem 0.6rem;
        display: flex;
        justify-content: center;
        border-radius: 5px;
    }
    
    &__icon {
        &--wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-self: center;
            height: 100%;
            width: 40px;
            border-radius: 10px;

            transition: all 70ms ease;

            &:hover {
                background-color: #333;
            }
        }
        
        display: flex;
        transition: all 50ms ease-in;

        box-shadow: 0 0 4px black !important;
        
        &:hover {
            transform: scale(1.04);
            box-shadow: 0 0 0.2rem black !important;
        }
    }

    &__label {
        background-color: inherit;
        display: flex;
        align-items: center;
        justify-self: center;
        justify-content: center;
        width: $picker-width;
        // padding: 0.2rem 1rem;
        // padding: 0.5rem 0.9rem;
        border-radius: 5px;

        border: none;
        outline: none;
        color: white;
        transition: all 100ms ease;

        &:hover {
            background-color: #222;
        }
    }
}