.TermHistory {
    &__desc {
        display: inline-block;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__direction {
        margin-right: 1rem;
        padding: 0.2rem 0.6rem;
        border-radius: 3px;
    }

    &__expand {  
        display: block;
        border: none;
        border-radius: 3px;
        outline: none;
        background-color: #444;
        color: white;
        padding: 0.5rem;
        margin: 0.5rem 0;
        width: 100px;

        transition: all 50ms ease;

        &:hover:not(:active) {
            background-color: #333;
            color: white;
            transform: translateY(-1px);
            box-shadow: 0 0.4rem 0 -0.3rem #555, 0 3px 0.5rem 0 #000;
        }

        &:active {
            background-color: seagreen;
            transform: translateY(0);
        }
    }

    &__session {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #333;
        padding: 0.5rem 0.5rem;
        padding-right: 2rem;

        &--block {
            display: flex;
            align-items: center;
            
            * {
                display: flex;
                height: 100%;
            }
        }
    }

    &__content { 
        max-height: 200px;
        overflow-y: scroll;

        @media screen and (max-height: 700px) {
            max-height: 100px;
        }

        &::-webkit-scrollbar {
            background-color: #111;
            width: 8px;
            
            &-thumb {
                background-color:#ccc;
                border-radius: 5px;
            }
            
            &-track {
                outline: 1px solid #333;
            }
        }

    }
}