:root {
    --maxwidth: 800px
}

.TermHistory {
    transform: translateY(0px);
    background-color: #232323;
    border-top: 2px solid blueviolet;
    border-radius: 2px;
    padding: 0rem 1rem;
    margin-left: 1rem;
    width: max-content;
    margin: 0 40px;
    position: relative;
    z-index: 1;
}

.TermHistory__session {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    box-shadow: 4px 4px 1em black;
    border: 1px solid #333;
}

.TermHistory__date {
    font-size: 1.3rem;
}

.TermHistory__history {
    margin-left: 0.5rem;
}

.TermHistory__passfail {
    width: 4rem;
    height: 1.5rem;
    margin: 0.2rem;
    border-radius: 2px;
}

.pass, .fail {
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
}

.pass {
    background-color: seagreen;
    
}

.fail {
    background-color: orangered;
}

.TermHistory__header * {

        display: inline-block;
        margin-right: 0.2rem;
}