@keyframes fadein {
    0% {
    }
    100% {
        opacity: 1
    }
}

.TermModal {
    opacity: 0;
    animation: 100ms linear fadein;
    animation-fill-mode: forwards;

    transition: all 100ms ease;

    position: fixed;
    z-index: 21;
    top: 20%;
    padding: 2rem;
    background-color: #111;
    color: white;
    border: 2px solid #333;
    box-shadow: 10px 10px 0 -2px #444;
    width: 50%;
    margin: 0 auto;
    left: 25%;
    overflow-y: auto;

    @media screen and (max-height: 768px) {
        top: 0;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.815);
    }

    @media screen and (max-width: 1280px) {
        width: 80%;
        left: 10%;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        left: 0;
        box-shadow: none;
        padding: 1rem 2rem;
    }
    
    $icon-width: 2rem;

    label {
        margin-top: 1rem;
        margin-left: 2px;
        font-size: 1rem;
        background-color: #252525;
        border-bottom: 2px solid #222;
        border-radius: 3px 7px 0 0;
        padding: 0.3rem 1rem;
        width: max-content;
    }

    input {
        // $b1: limegreen;
        // $b2: greenyellow;
        
        $b1: #555;
        $b2: #444;

        display: block;
        width: 450px;
        max-width: 100%;
        border-radius: 0 3px 3px 3px;
        margin: 0;
        outline: none;
        padding: 0.7rem 1rem;
        background-color: #191919;
        color: white;
        border: 3px solid $b2;
        box-shadow: 0px 4px 0 -2px $b2, 0 -4px 0 -2px $b1;

        transition: all 50ms linear;
        
        &:focus {
            background-color: #191919;
            color: azure;
            border: 3px solid transparent;
            box-shadow: 0px 4px 0 -2px transparent, 0 -4px 0 -2px transparent, -8px -8px 0 -6px $b1, 8px 8px 0 -5px $b2;
            border-radius: 0px;
        }
    }

    section { margin-bottom: 1rem; }

    header {
        font-size: 1.6rem;
        font-weight: 600;
        width: max-content;
        border-bottom: 2px solid white;
        background-color: #222;
        margin-bottom: 0.5rem;
    }

    &__header {
        display: flex;
        justify-content: space-between;

        button {
            display: flex;
            line-height: 30px;
            align-items: center;
            justify-content: center;
            color: white;
            background-color: #555;
            height: 30px;
            width: 30px;
            border: 2px solid transparent;
            outline: none;
            border-radius: 50%;

            transition: all 50ms linear;

            &:hover {
                background-color: orangered;
                border-radius: 4px;
                transform: scale(1.05);
                box-shadow: 0 0.4rem 1rem 0 black;
            }
        }
    }

    &__side {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        // gap: 1rem;
        align-items: center;

        &--saturation {
            display: flex;
            // background-color: #222;
            justify-content: center;
            width: $icon-width;
            height: 100%;
            align-items: center;
        }
    }

    &__wrapper {
        animation: 100ms linear fadein;
        animation-fill-mode: forwards;
        position: fixed;
        top: 0;    
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.755);
        z-index: 20;
    }

    &__delete {
        &--wrapper {
            height: 60px;
            width: max-content;
            display: block;
            margin-left: auto;
        }

        padding: 0.2rem 0.5rem;
        display: block;
        margin-left: auto;
        transition: all 70ms linear;
        
        background-color: #333;
        border: 2px solid transparent;
        border-radius: 2px;
        outline: none;
        color: azure;
        font-size: 0.7rem;
        width: 100px;
        margin-top: 1rem;
        height: 25px;
        justify-content: center;

        &:hover {
            background-color: orangered;
            transform: translateY(-3px);
            box-shadow: 0 0 0.5rem black
        }
        
    }

    &__delete--confirm {
        background-color: transparent;
        display: inline-flex;
        justify-content: center;
        font-size: 0.8rem;
        height: 20px;
        margin-bottom: 0;
        padding: 0 0.5rem;

        &-yes, &-no {
            @extend .TermModal__delete;
            background-color: #111;
            display: inline-flex;
            width: max-content;
            margin-top: 0.3rem;
            height: 25px;
        }
        &-yes {
            &:hover {
                background-color: orangered;
            }

        }
        &-no {
            &:hover {
                background-color: seagreen;
            }
        }
    }
}