/* Nested grid sandbox: */
/* .Test {
}

.Line {
    width: 100%;
    border: 2px solid deepskyblue;
    display: grid;
    grid-template-columns: min-content 20% 30%;
}

.Line > div {
    border-left: 2px solid red;
    margin: 0.5rem;
}

.Line__content {
    grid-column: 2;
    border: 2px solid deeppink;
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(1*100px));
}

.Line__end {
    border: 2px solid red;
}

.Button {
    max-width: 100px;
    min-width: 90px;
    height: 20px;
    background-color: white;
    margin: 0.5em;
    box-shadow: 0 0 1em black;
} */

.Lists {
    
}