.NewList__name {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 1em;
    border-left: 2px solid deepskyblue;
    border-radius: 2px;
    margin-top: 1em;
    max-width: 800px;
}

.NewList__name label {
    display: flex;
    align-items: center;
    color: deepskyblue;
    font-weight: 600;
}

.NewList__name input[type=text] {
    
    margin-left: 1rem;
    border: 1px solid #444;
    background-color: #333;
    border-radius: 1px;
    width: 80%;
    max-width: 800px;
}


/*  */

.NewList {
    border: 1px solid deepskyblue;
    margin: 2rem;
    padding: 2em;
    background-color: #1d1d1d;
    box-shadow: 0 0 1em black;
}

/* .NewList__Terms {
    max-height: 50vh;
    overflow-y: scroll;
} */

.NewList__Header {
    grid-template-columns: 1fr 1fr;
    display: grid;
    width: 70%;
    min-width: 200px;
}

.NewList__Header span {
    font-weight: 500;
    display: inline-block;
    width: 100%;
    margin-bottom: 0.3em;
}

.NewList__Header span:nth-of-type(1) {
    display: inline-block;
    margin-left: calc(2em + 2px);
    /* background-color: blue; */
}

.NewList__Header span:nth-of-type(2) {
    margin-left: calc(1em);
}

.NewList__Terms-index {
    display: inline-flex;
    place-self: center;
    width: 1rem;
    /* padding-right: 0.2em; */
    color: #888;
    font-size: 0.8rem;

}

.NewList__Terms {
    margin-top: 1em;
    border-left: 2px solid deepskyblue;
    max-width: 800px;
}

.NewList__Terms::before {
    content: "Terms";
    padding: 1em;
    color: deepskyblue;
    font-weight: 600;
}

.NewList__Terms-term {
    width: 80%;
    display: grid;
    grid-template-columns: 2em 1fr;
    margin-bottom: 5px;
}

.Term-fromto {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
}

.Term-fromto input[type=text] {
    border: 1px solid #444;
    border-left: 2px solid #444;
    
    width: 95%;
    height: 1.5rem;
    background-color: #333;
    line-height: 1.5em;
    transition: transform 200ms ease;
}

.Term-fromto input[type=text]:focus{
    border-left: 2px solid deepskyblue;
}

/* webkit scrollbar: doesn't work on firefox! */
/* .NewList__Terms::-webkit-scrollbar {
    width: 10px;
}

.NewList__Terms::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #222, #333);
}
.NewList__Terms::-webkit-scrollbar-thumb {
    background-color: deepskyblue;
} */