.terms {
    list-style: none;
    padding: 2rem;
}

.term {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 0.2rem;
    border: 2px solid transparent;
}

.term--index {
    display: flex;
    width: 30px;
    height: 100%;
    place-self: center;
    font-size: 0.9rem;
    /* padding: 0.2rem; */
    color: #555;
    border-bottom: 2px solid transparent;
}

.term--side {
    width: 20rem;
    color: azure;
    margin: 0.1rem 0.2rem;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    padding: 0.8rem 1rem;
    border-radius: 6px;
    font-size: 17px;
    /* font-family: monospace; */

    transition: all 100ms ease;
}

.term--side:not(:focus) {
    background-color: #222;
    border-bottom-color: #333;
    color: #ccc;

}
.term--side:focus {
    color: #aaa;
    background-color: #262626;
    box-shadow: 0 0 1rem #111;
    text-indent: 0.5rem;

    
    animation: 2000ms ease-in-out infinite termcolorcycle;
}

.term--from {
    position: relative;

}

@keyframes termcolorcycle {
    0% {border-color: blueviolet;}
    50% {border-color: #555;}
    100% {border-color: blueviolet;}

}