.Header {
    position: sticky;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: #111;
    /* margin-bottom: 1em; */
    z-index: 1000;
    height: 3rem;
}

.NavLink {
    margin-left: 1em;
}

.NavLink:visited {
    color: deepskyblue;
}

