.List {
    min-width: 800px;
}

.List__name {
    max-width: 750px;
    border-bottom: 2px solid deepskyblue;
}

ul {
    margin: 0;
    padding: 0;
}

.List__term {
    font-size: 0.9em;
    display: grid;
    line-height: 1rem;
    overflow: hidden;
    width: 70%;
    max-width: 750px;
    margin-bottom: 0.6em;
    box-shadow: 0 0 0.7em #000;
    border-top: 2px solid var(--background-secondary);
    border-right: 2px solid var(--background-secondary);
    border-bottom: 2px solid var(--background-secondary);
    border-left: 2px solid deepskyblue;
    border-radius: 0 10px 0 10px;

    transition: border-radius 200ms ease 100ms, transform 100ms ease-in, border-color 120ms ease;
}

.List__term:hover {
    border-radius: 0; 
    transform: translate(1em,0);
}

.List__term-from, .List__term-to, .List__term-index {
    display: flex;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    align-items: center;
}

.List__term-to {
    padding-right: 0.5em;
}

.List__term-remove {
    display: flex;
    background-color: var(--background-secondary);
    color: #777;
    box-shadow: 0 0 3px black;
    border-radius: 3px;
    border: none;
    outline: 0;
    justify-content: center;
    place-self: center;
    width: 2.5rem;
    height: 1.5rem;

    transition: background-color 100ms ease
}

.List__term-remove:hover {
    background-color: orangered;
    color: azure;
}

.List__term-remove-confirm {
    display: flex;
    place-self: center;
    border-radius: 3px;
}

.remove-confirm-button {
    color: azure;
    font-size: 0.7rem;
    outline: none;
    border: none;
    padding: 0.5em;
    border-radius: 1px;
    /* margin: 0.5em; */
    width: 40px;
    font-weight: 400;
}

.remove-keep, .remove-remove {
    background-color: #111;
    transition: all 150ms ease
}

.remove-keep:hover {
    background-color: seagreen;
}

.remove-remove:hover {
    background-color: orangered;
}



.List__term:nth-child(even) {
    background-color: #2d2d2d
}

.List__term-index {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: deepskyblue; */
    height: 100%;
    margin: 0;
    font-size: 0.7em;
    color: #aaa;
    /* border-left: 2px solid deepskyblue; */
    user-select: none;
}