.NewList {
    border: 2px solid deepskyblue;
    padding: 1em;
    background-color: #1d1d1d;
}

.NewList__Header {
    grid-template-columns: 1fr 1fr;
    display: grid;
    width: 70%;
    padding: 0;
}

.NewList__Header span {
    font-weight: 600;
    display: inline-block;
    width: 100%;
    margin-bottom: 0.3em;
}

.NewList__Header span:nth-of-type(1) {
    display: inline-block;
    margin-left: calc(2em + 2px);
    /* background-color: blue; */
}

.NewList__Header span:nth-of-type(2) {
    margin-left: calc(1em);
}

.NewList__Terms-term {
    width: 70%;
    display: grid;
    grid-template-columns: 2em 1fr;
    margin-bottom: 5px;
}

.NewList__Terms-fromto {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
}

.NewList__Terms-fromto input[type=text] {
    width: 95%;
    border: none;
    border-bottom: 1px solid var(--background-secondary)
}

.NewList__Terms-fromto input[type=text]:focus{
    box-shadow: 0 0 1em 0 black;
    background-color: #282828;
    border-left: 2px solid deepskyblue;
    /* transform: scale(1.05);
    transition: 100ms cubic-bezier(0.075, 0.82, 0.165, 1); */
}
.NewList__Terms-index {
    display: inline-block;
}