:root {
    --duration: 250ms;
    --card-height: 100px;
}

.ReviewTerm {
    box-sizing: border-box;
    padding: 3em;
    max-width: 800px;
    margin: 0 auto;
}

.card-wrapper {
    position: relative;
    display: block;
    padding-top: 0;
    height: var(--card-height);
    margin: 0 auto;
    align-items: center;
}

.card-front, .card-back {
    user-select: none;
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    box-shadow: 0 0 0.5em #111;
    background-color: #111;
    height: var(--card-height);
    display: flex;
    padding: 2em;
    align-items: center;
    justify-content: center;
}

.show {
    animation: var(--duration) linear show;
    animation-fill-mode: forwards;
}

.hide {
    animation: var(--duration) linear hide;
    animation-fill-mode: forwards;
}

.render {
    animation: calc(var(--duration)) linear render;
    animation-fill-mode: forwards;
}

@keyframes render {
    0% {
        transform: scaleX(0);
        color: transparent;
    }
    100% {
        transform: scaleX(1);
        color: inherit;
    }
}

@keyframes show {
    0% {
        opacity: 0;
        transform: scaleY(-1);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes hide {
    0% {
        opacity: 1;
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        transform: scaleY(-1);
    }
}